/* Common */
$fontSize:14px;
$fontFamily:"Roboto","Helvetica Neue",sans-serif;
$lineHeight:18px;
$textColor:#424242;
$textSecondaryColor:#757575;
$borderRadius:3px;
$dividerColor:#eaeaea;
$dividerLightColor:#f8f8f8;
$iconWidth:20px;
$iconHeight:20px;
$iconFontSize:20px;
$grayBgColor:#757575;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;

/* Layout */
$bodyBgColor: #DCDCDC;
$menuItemHoverBgColor:#e8e8e8;
$menuitemColor:#757575;
$footerBgColor:#ffffff;

/* Topbar */
$topbarSubmenuBgColor:#f7f7f7;
$topbarSubmenuItemHoverBgColor:#e3e3e3;

/******************************/
/*           THEME            */
/******************************/
$headerPadding:8px 14px;
$headerTextColor:#ffffff;

$contentPadding:8px 14px;
$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

$inputBorderColor:#bdbdbd;
$inputInvalidBorderColor:#e62a10;
$inputBgColor:#ffffff;
$inputErrorTextColor:#e62a10;
$inputHeaderPadding:6px 10px;

$buttonTextColor:#ffffff;

$listItemPadding:6px 10px;

$radioButtonBorderColor:#757575;
$checkboxBorderColor:#757575;

$errorMessageFontSize:11px;
$errorMessageIconFontSize:13px;

$dataTableRowBgColorEven:#f4f4f4;
$paginatorPadding:6px 10px;
$menuitemPadding:6px 10px;